/***** BASE STYLE *****/
@font-face {
font-family: Wisdom Script AJ;
src: url('../fonts/Wisdom Script AJ.woff') format('woff');
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #000000;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

h1, h2, h3, h4 {
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

/***** HEADER *****/

header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}

header h1 span {
	color: #77a466;
}

nav {
  float: right;
  padding: 30px 0;
}

nav ul li {
  display:inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 23px;
  color: #77a466;
  padding-left: 25px;
}

/***** TOP SECTION *****/
.main-image img{
  border-bottom: 3px solid #77a466;
}

.main-title h3{
  color: #77a466;
}

/***** BOTTOM SECTION *****/

.one-third, .two-third, .three-third {
  border-top: 1px solid #dedbdc;
  width: 355px;
  padding: 0 20px;
}

.one-third {
  float: left;
  height: auto;
}

.two-third {
  float: left;
  height: auto;
  border-right: 1px solid #dedbdc;
  border-left: 1px solid #dedbdc;
}

.three-third {
  float: left;
  height: auto;
}

/***** FOOTER *****/

footer {
  clear: both;
  border-top: 1px solid #dedbdc;
  text-align: center;
  padding: 18px;
}

footer span {
  color: #77a466;
  font-family: 'Wisdom Script AJ', cursive;
  text-transform: lowercase;
  font-weight: normal;
}
